@using OUD_Perfume_Project.Models
@model LoginViewModel
@{
    Layout = null;
}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="icon" href="/Images/LogoWebsite.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/Style/Sign.css" />
    <link rel="stylesheet" href="/Style/animate.css" />
    <script src="/Script/wow.js"></script>
    <script>
      new WOW().init();
    </script>
</head>

<body>
    <!--! Form Login-->
    <div class="form-login wow flipInX"
         data-wow-duration="1.6s"
         id="form-login">

        <div class="login">

            <div class="cont">

                <div class="left">

                    <a href="@Url.Action("Index","Home")">
                        <img src="/Images/logoremovedarck.png"
                             alt="logooo"
                             class="logoo-im" />
                    </a>

                    <img src="~/Images/loginLogo.png"
                         alt="Perfume Bottle"
                         class="perfume-image" />
                </div>

                <div class="right">
                    @Html.ActionLink("×", "Index", "Home" , new { area = "" }, new {@class = "close"})

                    <h2>Login</h2>
                    <p>Welcome back, legend — your scent journey starts here</p>



                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.TextBoxFor(m => m.Email, new { @class = "input-email", placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                        @Html.PasswordFor(m => m.Password, new { @class = "input-password", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>

                        <button type="submit">Login</button>

                    }



                    <p>Don’t have account? @Html.ActionLink("Register", "Register", "Account")</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>















































@*




<!--<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-md-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-md-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-outline-dark" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>-->
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>
                <!--}
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
</main>-->

*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}