@model  OUD_Perfume_Project.Models.UserTemp

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="icon" href="/Images/LogoWebsite.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/Style/Sign.css" />
    <link rel="stylesheet" href="/Style/animate.css" />
    <script src="/Script/wow.js"></script>
    <script>
        new WOW().init();
    </script>
</head>

<body>
    <!--! Form Sign Up-->
    <div class="form-login wow flipInX"
         data-wow-duration="1.6s"
         id="form-login">

        <div class="login">

            <div class="cont">
                <div class="left">
                    <a href="@Url.Action("Index","Home")">
                        <img src="/Images/logoremovedarck.png"
                             alt="logooo"
                             class="logoo-im" />
                    </a>

                    <img src="/Images/perfume.png"
                         alt="Perfume Bottle"
                         class="perfume-image" />
                </div>

                <div class="right">

                    @Html.ActionLink("×", "Index", "Home", new { area = "" }, new { @class = "close" })


                    <h2>Register</h2>
                    <p>
                        Create your personalized account to explore our exclusive
                        fragrances seamlessly
                    </p>



                    @using (Html.BeginForm("Register", "UserAccount", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        <div class="input-group">
                            @Html.TextBoxFor(m => m.FirstName, new {@class ="input-text" , placeholder ="First name"})
                            @Html.TextBoxFor(m=> m.LastName, new {@class = "input-text", placeholder = "Last name"})
                        </div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "input-email input-text", placeholder = "Email" })
                        @Html.PasswordFor(m => m.Password, new { @class = "input-password input-text", placeholder = "Password" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-password input-text", placeholder = "Confirm Password" })
                        <button type="submit">Create account</button>
                    }
                    
                    <p>Already have an account? @Html.ActionLink("Login", "Login", "UserAccount")</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


